Repository co-cddo/federated-api-model, pull requests merged in 2021-12, with the labels that each got.

#19 Add buildSrc to Dependabot configuration
  .github/dependabot.yml
Labels: 📁 Repo: examples/java

#16 Upgrade to draft2019 of JSON Schema
  schemas/package-lock.json
  schemas/package.json
  schemas/v1alpha/api-metadata.json
  schemas/v1alpha/bulk-metadata-response.json
Labels: 📁 Repo: examples/java

#20 Automagically label PRs with the repos they affect
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: 🔧 GitHub Configuration

#26 Feature/structured logging
  examples/java/build.gradle
  examples/java/buildSrc/src/main/groovy/uk.gov.api.spring-boot-conventions.gradle
  examples/java/spring-boot/build.gradle
  examples/java/spring-boot/src/main/resources/log4j2-spring.xml
Labels: 📁 Repo: examples/java

#36 Validate that /apis matches JSON schema
  examples/java/spring-boot/build.gradle
  examples/java/spring-boot/src/test/java/uk/gov/api/springboot/controllers/MetadataControllerIntegrationTest.java
Labels: 📁 Repo: examples/java

#28 Improve README for the planned model usage
  README.md
Labels: 📚 Documentation

#40 Add code-ql analysis
  .github/workflows/examples-java-codeql-analysis.yml
Labels: 🔧 GitHub Configuration

#43 Rename the package containing models
  examples/java/spring-boot/build.gradle
  examples/java/spring-boot/src/main/java/uk/gov/api/springboot/controllers/MetadataController.java
  examples/java/spring-boot/src/main/java/uk/gov/api/springboot/services/MetadataService.java
  examples/java/spring-boot/src/test/java/uk/gov/api/springboot/controllers/MetadataControllerIntegrationTest.java
  examples/java/spring-boot/src/test/java/uk/gov/api/springboot/controllers/MetadataControllerTest.java
  examples/java/spring-boot/src/test/java/uk/gov/api/springboot/models/metadata/ApiMetadataTest.java
  examples/java/spring-boot/src/test/java/uk/gov/api/springboot/models/metadata/BulkMetadataResponseTest.java
  examples/java/spring-boot/src/test/java/uk/gov/api/springboot/models/metadata/DataTest.java
  examples/java/spring-boot/src/test/java/uk/gov/api/springboot/services/MetadataServiceTest.java
Labels: 📁 Repo: examples/java
