Repository co-cddo/federated-api-model, pull requests merged in 2022-02, with the labels that each got.

#74 Be more restrictive of Actions' token permissions
  .github/workflows/labeler.yml
  .github/workflows/main-scorecards-analysis.yml
  .github/workflows/openapi-docs-pr.yml
  .github/workflows/openapi-docs-push.yml
Labels: 🔧 GitHub Configuration

#83 Migrate ArchUnit rules to method-based rules
  examples/java/spring-boot/src/test/java/uk/gov/api/springboot/architecture/ArchUnitTest.java
  examples/java/spring-boot/src/test/java/uk/gov/api/springboot/architecture/ArchitectureLayeringTest.java
Labels: 📁 Repo: examples/java

#77 GitHub actions best practices
  .github/workflows/examples-java-codeql-analysis.yml
  .github/workflows/examples-java-pr.yml
  .github/workflows/examples-java-push.yml
  .github/workflows/labeler.yml
  .github/workflows/openapi-docs-pr.yml
  .github/workflows/openapi-docs-push.yml
  .github/workflows/schemas-pr.yml
  .github/workflows/schemas-push.yml
  CODEOWNERS
Labels: 🔧 GitHub Configuration

#84 Update username variable for deployment
  .github/workflows/examples-java-push.yml
Labels: 🔧 GitHub Configuration

#85 Specify path to jar file for deployment
  .github/workflows/examples-java-push.yml
Labels: 🔧 GitHub Configuration

#93 Move plugin declarations to `buildSrc`
  examples/java/build.gradle
  examples/java/buildSrc/build.gradle
Labels: 📁 Repo: examples/java

#90 Use a wildcard static import for slf4j-test
  examples/java/spring-boot/src/test/java/uk/gov/api/springboot/infrastructure/config/CorrelationIdFilterTest.java
Labels: 📁 Repo: examples/java

#94 Bump com.diffplug.spotless in /examples/java/buildSrc
  examples/java/buildSrc/build.gradle
Labels: 📁 Repo: examples/java

#101 Fix typo in README
  examples/java/spring-boot/README.md
Labels: 📁 Repo: examples/java, 📚 Documentation

#100 Introduce a Provider interface
  examples/java/spring-boot/src/main/java/uk/gov/api/springboot/application/services/ApiService.java
  examples/java/spring-boot/src/main/java/uk/gov/api/springboot/domain/services/Provider.java
  examples/java/spring-boot/src/test/java/uk/gov/api/springboot/architecture/ArchitectureLayeringTest.java
  examples/java/spring-boot/src/test/java/uk/gov/api/springboot/domain/services/ProviderTest.java
Labels: 📁 Repo: examples/java
