Repository co-cddo/federated-api-model, pull requests merged in 2022-01, with the labels that each got.

#45 Bump to Spotless 6.1.0
  examples/java/build.gradle
  examples/java/buildSrc/build.gradle
Labels: 📁 Repo: examples/java

#47 Deploy the spring boot app to PaaS
  .github/workflows/examples-java-push.yml
  examples/java/spring-boot/build.gradle
  examples/java/spring-boot/manifest.yml
Labels: 📁 Repo: examples/java, 🔧 GitHub Configuration

#49 Tweak GitHub Actions settings
  .github/workflows/examples-java-codeql-analysis.yml
  .github/workflows/openapi-docs-pr.yml
  .github/workflows/openapi-docs-push.yml
Labels: 🔧 GitHub Configuration

#51 Add actuator dependency to the spring boot app
  examples/java/spring-boot/build.gradle
  examples/java/spring-boot/src/test/java/uk/gov/api/springboot/HealthCheckIntegrationTest.java
Labels: 📁 Repo: examples/java

#52 Run healthcheck on the spring boot app in PaaS
  examples/java/spring-boot/manifest.yml
Labels: 📁 Repo: examples/java

#56 Fix typo in `additionalProperties` in schemas
  schemas/v1alpha/api-metadata.json
  schemas/v1alpha/bulk-metadata-response.json
Labels: 📁 Repo: schemas

#60 Move models to v1alpha package
  .github/workflows/examples-java-codeql-analysis.yml
  examples/java/spring-boot/build.gradle
  examples/java/spring-boot/src/main/java/uk/gov/api/springboot/controllers/MetadataController.java
  examples/java/spring-boot/src/main/java/uk/gov/api/springboot/services/MetadataService.java
  examples/java/spring-boot/src/test/java/uk/gov/api/springboot/controllers/MetadataControllerIntegrationTest.java
  examples/java/spring-boot/src/test/java/uk/gov/api/springboot/controllers/MetadataControllerTest.java
  examples/java/spring-boot/src/test/java/uk/gov/api/springboot/models/metadata/v1alpha/ApiMetadataTest.java
  examples/java/spring-boot/src/test/java/uk/gov/api/springboot/models/metadata/v1alpha/BulkMetadataResponseTest.java
  examples/java/spring-boot/src/test/java/uk/gov/api/springboot/models/metadata/v1alpha/DataTest.java
  examples/java/spring-boot/src/test/java/uk/gov/api/springboot/services/MetadataServiceTest.java
Labels: 📁 Repo: examples/java, 🔧 GitHub Configuration

#61 Migrate to `temurin` JDK
  .github/workflows/examples-java-codeql-analysis.yml
  .github/workflows/examples-java-pr.yml
  .github/workflows/examples-java-push.yml
Labels: 🔧 GitHub Configuration

#63 Create Scorecards workflow
  .github/workflows/main-scorecards-analysis.yml
Labels: 🔧 GitHub Configuration

#65 Add initial ArchUnit rules
  examples/java/spring-boot/build.gradle
  examples/java/spring-boot/src/test/java/uk/gov/api/springboot/architecture/ArchUnitTest.java
Labels: 📁 Repo: examples/java

#68 Add a README for the spring-boot project
  examples/java/spring-boot/README.md
Labels: 📁 Repo: examples/java, 📚 Documentation

#50 Use `spectral-ruleset-govuk-public` for API linting
  .github/workflows/openapi-docs-pr.yml
  .github/workflows/openapi-docs-push.yml
  schemas/.spectral.yml
  schemas/package-lock.json
  schemas/package.json
  schemas/v1alpha/openapi.yml
Labels: 📁 Repo: schemas, 🔧 GitHub Configuration
